<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="http://search.ebscohost.com/login.aspx?authtype=uid&amp;user=normwright&amp;password=pass$word&amp;group=edsacad&amp;profile=newacdem14"/>
    <add key ="browser" value="Firefox"/>
  </appSettings>
</configuration>