<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Application config-->
  <appSettings>
    <add key="url" value="http://search.ebscohost.com/login.aspx?authtype=uid&amp;user=normwright&amp;password=pass$word&amp;group=edsacad&amp;profile=newacdem14"/>
    <add key ="browser" value="chrome"/>
    <add key ="run type" value ="local"/>
    <!--Environment-->
    <add key="FirefoxVersion" value="46" />
    <add key="FirefoxPlatform" value="Windows 7" />
    <add key="ChromeVersion" value="56" />
    <add key="ChromePlatform" value="Windows 7" />
    <add key="IEVersion" value="11" />
    <add key="IEPlatform" value="Windows 7" />
    <add key="usernameSauceLabs" value="gianghai_90" />
    <add key="accessKeySauceLabs" value="2557f10d-ecae-44ad-b4b9-142aaa644169" />
  </appSettings>
</configuration>