<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Application config-->
  <appSettings>
    <add key="url" value="http://search.ebscohost.com/login.aspx?authtype=uid&amp;user=normwright&amp;password=pass$word&amp;group=edsacad&amp;profile=newacdem14"/>
    <add key ="browser" value="Firefox"/>
    <add key ="run type" value ="local"/>
    <!--Environment-->
    <add key="FirefoxVersion" value="46" />
    <add key="FirefoxPlatform" value="Windows 7" />
  </appSettings>
</configuration>